*{
	margin: 0;
	padding: 0;
}

html,body {
	width: 100%;
	height: 100%;
}

nav {
	overflow: hidden;
	float: right;
}

nav li {
	float:left;
	list-style: none;
}
nav li a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 30px;
	color: black;
}


main, footer {
text-align: center;
}

nav li a:hover {
	color: #a45f93;
}

#who-we-are {
    font-size: 20px;
	height:350px;
	margin: 1px 1px 1px 1px;
	padding: 30px;
	background-image:pictures/lviv.jpg;
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}

#service {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
	background-color: #F2F2F2;
}

#partners {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
	background-color: #F2F2F2;
}

#feedback {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
	background-color: #F2F2F2;
}
#contact {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
	background-color: #F2F2F2;
}
